<mat-grid-list cols="3" rowHeight="3:1">
  <mat-grid-tile>
    <h4>{{ graficos.grafico1.leyenda }}</h4>
  </mat-grid-tile>
  <mat-grid-tile>
      <h4>{{ graficos.grafico1.leyenda }}</h4>
  </mat-grid-tile>
  <mat-grid-tile>
      <h4>{{ graficos.grafico1.leyenda }}</h4>
  </mat-grid-tile>
  <mat-grid-tile>
      <app-grafica-dona
              [chartLabels] = "graficos.grafico1.labels"
              [chartData] = "graficos.grafico1.data"
              [chartType] = "graficos.grafico1.type"></app-grafica-dona>
  </mat-grid-tile>
  <mat-grid-tile>
      <app-grafica-dona
              [chartLabels] = "graficos.grafico1.labels"
              [chartData] = "graficos.grafico1.data"
              [chartType] = "graficos.grafico1.type"></app-grafica-dona>
  </mat-grid-tile>
  <mat-grid-tile>
      <app-grafica-dona
              [chartLabels] = "graficos.grafico1.labels"
              [chartData] = "graficos.grafico1.data"
              [chartType] = "graficos.grafico1.type"></app-grafica-dona>
  </mat-grid-tile>
</mat-grid-list>
<app-tabla></app-tabla>